{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/static/vue/dist/assets/index-BpLU1tE9.js"></script>
    <link rel="stylesheet" crossorigin href="/static/vue/dist/assets/index-B5JvdcZn.css">
  </head>
  <body class="bg-gray-100 dark:bg-gray-800">
    <div id="app"></div>
  </body>
</html>
